@tailwind base;

::-webkit-scrollbar {
    width: 4px;
    height: 6px;
  }

::-webkit-scrollbar-track {
    border-radius: 100vh;
}

::-webkit-scrollbar-thumb {
    background: #e1e0e0;
    border: 1px solid #f6f7ed;
}

@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800&display=swap');

body{
    /* font-family: 'Lexend', sans-serif; */
}